
/*=-=-=-=-=-=-=-=-=-=-=-=
     Medium Screen Start
=-=-=-=-=-=-=-=-=-=-=-=-=*/


@media(max-width: 991px) {
	.search form{
		display: none;		
	}
	.responsive-1{
		display: flex;
		justify-content: flex-end;
		margin-top: 10px;
		cursor: pointer;

	}
.about-left{
	width: 100%;
	margin-bottom: 20px;
}
.about-right{
	width: 100%;
}
.member{
	width: 48%;
	margin-bottom: 15px;
}
.contact-form{
	width: 80%;
}








}
/*=-=-=-=-=-=-=-=-=-=-=-=
     Medium Screen End
=-=-=-=-=-=-=-=-=-=-=-=-=*/









/*=-=-=-=-=-=-=-=-=-=-=-=
     Small Screen Start
=-=-=-=-=-=-=-=-=-=-=-=-=*/


@media(max-width: 767px){
	.bars i{
		display: block;
}
	.menu ul{
		display: none;
	}
	.member{
	width: 100%;
	margin-bottom: 15px;
}






}
/*=-=-=-=-=-=-=-=-=-=-=-=
     Small Screen End
=-=-=-=-=-=-=-=-=-=-=-=-=*/